extends layout

block content
  h1= title
  p Welcome to #{title}
  .row
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Hola Mundo!
        .panel-body
          | Eduardo Herrera
        .panel-footer
          | UTP
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Colon C3
        .panel-body
          | Tomas Scott
        .panel-footer
          | UTP
          
    