extends layout
<% layout('layouts/default') %>
block content
  .row
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
  .row
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Acerca de
        .panel-body
          | Hola mundo!
        .panel-footer
          | Este es el footer